html, body {
  height: 100%;
}

#main-chat-screen {
  padding-top: 10px;
}

#login-screen {
  margin: 10px;
}

#msgs {
  padding-bottom: 15px;
}

#chatForm {
  /* Freaking firefox... */
  width: -moz-available;
}

/*
 *
 * General Formatting
 *
 */

.input-group {
  padding-bottom: 10px;
}

.btn-space {
  margin-right: 5px;
}

.main {
  padding-top: 10px;
  text-align: center;
}

/*
 * General message classes
 */

#msgs {
  padding-top: 10px;
}

.message {
  display:inline-block;
  overflow: hidden;
}

.message img {
  max-width:100%;
  padding:10px 0;
}

.message-body {
  border-radius:15px;
  float:right;
  padding:0 10px;
}

.status-message,.message-metadata {
  text-align:center;
  font-style:italic;
  color:#828282;
}

.message-metadata {
  font-size: 11px;
}

