html, body {
  height: 100%;
}

body {
  background-color: #dee5ef !important;
}

#chat-screen {
  height: 100%;
  overflow: hidden;
}

#chat-header {
  background-color: #ecf1f5;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

#chatForm {
  /* Freaking firefox... */
  width: -moz-available;
}

/*
 *
 * Sign in style
 *
 */

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-signin-heading, .form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .form-control {
 position: relative;
 height: auto;
 padding: 10px;
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input {
  margin-bottom: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#verifyCall  {
  margin-bottom: 10px;
}

.account-wall {
  margin-top: 20px;
  padding: 40px 0px 20px 0px;
  background-color: #f7f7f7;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.login-title {
  margin-top: 60px;
  color: #555;
  font-weight: 400;
  display: block;
}

.profile-img {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

#code {
  margin-top: 30px;
}

#connect-status {
  margin: 30px;
}

/*
 *
 * General Formatting
 *
 */

#pwa-banner {
  font-size: 0.75rem;
  background-color: white;
}

.file-download {
  display: table; 
}

.file-download span {
  pointer-events:none;
}

btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none;
}

.btn.btn-secondary {
  font-size: 0.875 rem;
  white-space:normal !important;
  word-wrap: break-word; 
}

.main {
  padding-top: 10px;
  text-align: center;
}

.short-scroll {
  height: 200px;
  overflow: auto;
}

.chat-input {
  background-color: white;
}

#file-drag-message {
  margin-top: 10px;
}

/*
 * General message classes
 */

#show-menu-button {
  border-top-left-radius: 0px;
}

#chat-submit {
  border-top-right-radius: 0px;
}

#conversation {
  background-color: #ffffff;
  /*background-color: #dee5ef;*/
  border-left: 1px solid #ced4da;
  border-right: 1px solid #ced4da;
  overflow: auto;
}

#msgs {
  width: 100%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  display: table;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0 0.2em;
  overflow-wrap: normal;
}

.menu-button {
  white-space: normal !important;
	word-wrap: break-word !important;
}

.message {
  display: table-row;
  width: var(--chat-row-width, 100%);
}

.message img {
  max-width:100%;
  padding:10px 0;
}

.message-avatar {
  display: table-cell;
  vertical-align: top; 
  width: var(--chat-avatar-width, 3.2em);
}

.message-body {  
  display: table-cell;
  width: auto;  
  max-width: 100%;
  padding: 0.05em;
}

.status-message,.message-avatar {
  text-align:center;
  font-style:italic;
  color:#828282;
}

.empty-column {
  display: table-cell;
  width: 3em;
}

.message-type-chart .message-body {
  position: relative;
  width: 100%;
}

.text-button {
  display:inline-block !important;
  padding:0.2rem 0.5rem !important;
  margin:0.2rem !important;
}

.highlight {
  background-color: #3aa2e321
}

/*
 * Per-person customization
 */ 

.my-message .message-avatar {
  color: #53b987;
}

.their-message .message-avatar {
  color: #3aa3e3;
}

.my-message .message-body {
  border-right: 4px solid #53b987 !important;
  float: right;
}

.their-message .message-body {
  border-left: 4px solid #3aa3e3 !important;
  float: left;
}

.mentioned .message-body {
  background:#ffc8c8;
}

@media (max-width: @screen-xs) {

  body {
    font-size: 0.875rem;
  }

}

@media (max-width: @screen-sm) {

  body {
    font-size: 0.875rem;
  }

}

/*
 * Icons
 */

 @font-face {
  font-family: 'send';
  src:  url('/icons/send/send.eot?vg9ldn');
  src:  url('/icons/send/send.eot?vg9ldn#iefix') format('embedded-opentype'),
    url('/icons/send/send.ttf?vg9ldn') format('truetype'),
	  url('/icons/send/send.woff?vg9ldn') format('woff'),
    url('/icons/send/send.woff?vg9ldn') format('woff'),
    url('/icons/send/send.svg?vg9ldn#send') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'send' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-send:before {
  content: "\e900";
}